<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Blog</title>
  </head>
  <body>
    <h1>Introduction</h1>
    <div class="container">
      <a href="/blogs">View some blogs!</a>
      <form method="post" action="/test">
        <input type="text" name="test">
        <button type="submit" name="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
